doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Document
  link(rel='stylesheet' href='/css/style2.css')
  link(rel='stylesheet' href='/css/icofont/icofont/icofont.min.css')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js')
  script(src='/js/scripts3.js')
.container
  h1 Buenos días #{user}
  .dropdown
    button.dropbtn Escritorios
    #drpEscritorios.dropdown-content
      each val in escritorios
        a.deskList= val.name
.container
  #main.cuerpo
    h1#deskTitle.deskTitle= escritorio
    .bodcontrols
      span#editDesk.icofont-ui-edit
      span#removeDesk.icofont-recycle
      span#addCol.icofont-ghost
      span#addDesk.icofont-plus
    #cols.cuerpo(data-id='columns')
      div(id= escritorio + 'Cols').cuerpo(data-id='columns')
        each val in columnas
          .envolt(orden= `${val.order}`)
            .headercolumn
              h2.ctitle= val.name
              i.icofont-gear
              .ccontrols
                span.icofont-ui-edit.editcol
                span.icofont-recycle.borracol
                span.icofont-plus.addlink
            div(id= escritorio + val.name).columna(data-db= `${val._id}`)
              each link in links
                if link.idpanel == val._id
                  .link(orden= `${link.orden}`)
                    a(href= `${link.URL}` target='_blank')
                      img(src='https://www.google.com/s2/favicons?domain=' + `${link.URL}`)
                      | #{link.name}
                    .lcontrols
                      span.icofont-ui-edit.editalink
                      span.icofont-recycle.borralink 
.container
  #addDeskForm.deskForm
    h2 A&ntilde;ade Escritorio
    input#deskName(type='text' name='deskName')
    button#deskSubmit(type='submit') Enviar
    p#deskError
  #editDeskForm.deskForm
    h2 Edita Escritorio
    input#editdeskName(type='text' name='deskName')
    button#editdeskSubmit(type='submit') Modificar
    p#editdeskError
  #addColForm.deskForm
    h2 A&ntilde;ade Columna
    input#colName(type='text' name='colName')
    button#colSubmit(type='submit') Enviar
  #addLinkForm.deskForm
    h2 A&ntilde;ade Link
    p Nombre
    input#linkName(type='text' name='linkName')
    p URL
    input#linkURL(type='text' name='linkURL')
    button#linkSubmit(type='submit') Enviar
  #editColForm.deskForm
    h2 Edita Columna
    input#editcolName(type='text' name='colName')
    button#editcolSubmit(type='submit') Modificar
    p#editcolError
  #editLinkForm.deskForm
    h2 Edita Link
    p Nombre
    input#editlinkName(type='text' name='editlinkName')
    p URL
    input#editlinkURL(type='text' name='editlinkURL')
    button#editlinkSubmit(type='submit') Modificar
  #deleteLinkForm.deskForm
    h2 Seguro que quieres borrar este Link?
    button#confDeletelinkSubmit(onclick='deleteLink()' type='submit') Si
    button#noDeletelinkSubmit(onclick='escondeDeleteDialog()' type='submit') No
  #deleteColForm.deskForm
    h2 Seguro que quieres borrar esta columna?
    button#confDeletecolSubmit(onclick='deleteColumn()' type='submit') Si
    button#noDeletecolSubmit(onclick='escondeDeleteColDialog()' type='submit') No
  #deleteDeskForm.deskForm
    h2 Seguro que quieres borrar este escritorio?
    button#confDeletedeskSubmit(onclick='deleteDesktop()' type='submit') Si
    button#noDeletedeskSubmit(onclick='escondeDeleteDeskDialog()' type='submit') No
    script(src='/js/Sortable-master/Sortable.min.js')